SwiftSource/SwiftSource/Info.plist
SwiftSource/SwiftSource.xcodeproj/project.pbxproj
SwiftSource/SwiftSource.xcodeproj/project.xcworkspace/xcuserdata/adminstrator.xcuserdatad/UserInterfaceState.xcuserstate
SwiftSource/SwiftSource.xcodeproj/xcuserdata/adminstrator.xcuserdatad/xcschemes/SwiftSource.xcscheme
SwiftSource/SwiftSource.xcodeproj/xcuserdata/adminstrator.xcuserdatad/xcschemes/xcschememanagement.plist
